
*{
    margin: 0;      /*universal */
    padding: 0;
}

body{
 font-family: "Poppins", sans-serif;
}

.navbar{
    background-color: #fd6569;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
}

.container{
display: grid;
grid-template-columns: repeat(auto-fit,minimax(250px,1fr));
gap: 20px;
padding: 20px;

}
.book-container{
padding: 15px;
width: 25%; 
background-color: black;
border-radius: 10px;
color: white;
margin: 30px;
/* correct order il line varan */
display: inline-block;
vertical-align: top;
line-height: 1.6;
}
.book-container h2{
    color: #fd6569;
}
.book-container button{
    background-color: #fd6569;
    color: black;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    margin-top: 15px;

}

.add-button{
    background-color: #fd6569;
    color: black;
    border-radius: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 40px;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.popup-overlay{

    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

.popup-box{
    background-color: #fd6569;
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    position: fixed;
    top: 20%;
    left: 30%;
    z-index: 2;    
    display: none;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup-overlay {
  position: fixed;
}
@keyframes fadeScale {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}
.popup-box input{
    background-color: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid black;
    margin-top: 10px;
}


.popup-box textarea{
    background-color: transparent;
    border: solid black;
    width: 100%;
    height: 150px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    margin-left: 5px;
}


.popup-box input::placeholder
{
    color: black;
}
.popup-box textarea::placeholder
{
    color: black;
}

.popup-box button{
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
    border-radius: 10px;
}
.popup-box input:focus{
    outline: none;
}
.popup-box textarea:focus{
    outline: none;
}

.book-container h4{
    padding-top: 10px;
}
.book-container p{
        padding-top: 10px;

}
.popup-box h2{
    text-align: center;
}